h1{
    color: black;
    font-size: 40px;
    font-family: "Papyrus";
    margin-bottom: 0px;
}

h2{
    color:black;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
}

#Animation{
    width: 300px;
    height: 300px;
    background: red;
    position: relative;
    animation: mymove 5s infinite;

}

@keyframes mymove {
    from {left: 0px;}
    to {left: 1200px;}
  }

#Femto{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    float: left;
    text-align: center;
    padding-bottom: 8px;
}

#margins{
    margin: 20px;

}

p{
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    color: black;
    font-size: 80px;
    margin-bottom: 0px;
}